header{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 50px;
}

ul li{
   list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

.user{
    display: flex;
    gap: 50px;
}
.user a{
    text-decoration: none;
    color: black;
 
}

section{
    border: 2px solid greenyellow;
    width: 100vw;
    height: 70vh;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/060/843/811/small/close-up-of-raindrops-on-leaves-hd-background-luxury-hd-wallpaper-image-trendy-background-illustration-free-photo.jpg);
    border-radius: 30px;
    color: white;
    justify-content:center;
    align-content: center;
    justify-content: space-evenly;
    background-repeat:no-repeat ;
    background-size: cover;
}


.parent{
    border: 2px solid black;
    height: 1200px;
    padding: 5px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr) ;
    gap: 10px;
}

.box{
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  

}

.box img{
    border: 2px solid greenyellow;
    border-radius: 10px;
    height:200px ;
    width: 400px;
   
}
.avtr img{
    /* border: 2px solid red; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.avtr{
    display: flex;
    align-items: center;
    gap: 10px;
}
.parent a{
    padding: 0px;
    /* border: 2px solid red; */
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    color:white;width: 100px;
}
footer{
    border: 2px solid black;
    height: 500px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100vw;

}
.fhead{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
}

.fhead a{
    text-decoration: none;
    color: white;
    border:1px solid white;
    padding: 5px;
}

.fmenu{
    border: 2px solid orange;
    display: flex;
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns:repeat(5,1fr) ;
    margin-top: 30px;
    padding-left: 90px;
}

.last{
    border: 2px solid red;
    padding:5px;
    display: flex;
    justify-content:baseline;
    justify-content: space-between;
    margin-top: 20px;
}

